# Nearest Attraction to Airbnb

#### Import dependencies

In [29]:
import os
import pandas as pd
import requests
from pprint import pprint

from uszipcode import SearchEngine, Zipcode
import numpy as np

# Google developer API key
from config import gkey

## Setup the framework for the API call

#### Retrieve Seattle Coordinates

In [18]:
# store the city that we're searching for in a variable
target_address = "Seattle, Washington"

# create a dictionary to contain the query parameters
params = {"address": target_address, 
          "key": gkey}

# Build URL using the Google Maps Geocode API
geocode_base_url = "https://maps.googleapis.com/maps/api/geocode/json"

# Execute request
response = requests.get(geocode_base_url, params)

# Convert the response to json
my_geo = response.json()

# store lat/long data in variables for use in next query
lat = my_geo["results"][0]["geometry"]["location"]["lat"]
lng = my_geo["results"][0]["geometry"]["location"]["lng"]

print(lat,lng)

47.6062095 -122.3320708

### Retrieve and Assigned Variables to Attractions Varaiables

In [22]:
#establish initial variable for the attractions
target_type = "tourist_attraction"

# create a dictionary to contain all URL parameters
params = {
    "location": f"{lat},{lng}",
    "types": target_type,
    "rankby": "distance",
    "key": gkey
}

# Build URL using the Google Places API
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# Execute request
results = requests.get(base_url, params)

# Convert the result to json
attractions = results.json()

In [24]:
print(results.url)

https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=47.6062095%2C-122.3320708&types=tourist_attraction&rankby=distance&key=AIzaSyCMd1h-l4SngGBRF0PMM4LEjpa046RHmsM

### Iterate Loop to retrieve information for each of the variables

In [25]:
data = []

# Retrieve Attraction Name, Lat, Lng, Address,Opening Hours and Rating from response
for attraction in attractions['results']:

    #establish initial variable for the attractions
    target_type = "tourist_attraction"

    
    # Store Attraction Name, Lat, Lng, Address,Opening Hours and Rating from response
    name = attraction['name']
    lat = attraction['geometry']['location']['lat'] 
    lng = attraction['geometry']['location']['lng'] 
    address = attraction['vicinity']
    try:
        opening_hours = attraction['opening_hours']['open_now']
        rating = attraction['rating']
    except KeyError:
        pass
    
    #Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        data.append({'name':name,
                     'lat':lat,
                     'lng':lng,
                     'address': address,
                     'opening_hours': opening_hours,
                     'rating':rating})

    except (KeyError, IndexError):
        pass
        print("Missing field/result... skipping.")

#### Display the resulting DataFrame

In [26]:
data_df = pd.DataFrame(data)
data_df.head()

,address,lat,lng,name,opening_hours,rating
0,"1000 4th Ave, Seattle",47.606701,-122.332501,Seattle Public Library-Central Library,True,4.7
1,"Madison St &, 4th Avenue, Seattle",47.605748,-122.333497,Seattle central library,True,4.7
2,"701 5th Avenue, Seattle",47.604713,-122.330489,"Columbia Center Office Building, Food Hall and...",True,4.7
3,"700 4th Avenue, Seattle",47.604590,-122.330430,Sky View Observatory - Columbia Center,True,4.7
4,"1218 3rd Avenue, Seattle",47.607733,-122.335366,Seattle Tower,True,4.7

### Converting lat lng to us zip code using python

In [34]:
Zipcode = []
rows = len(data_df.index)

# Iterate df decode latlng into zipcode 
search = SearchEngine()

for i in range(0, rows):
    result = search.by_coordinates(data_df['lat'][i], data_df['lng'][i], radius=5, returns=1)
    for zipcode in result:
        Zipcode.append(zipcode.zipcode)
    
len(Zipcode)

20

In [35]:
# Add zipcode column to the df
data_df['zipcode'] = Zipcode
data_df.head()

,address,lat,lng,name,opening_hours,rating,zipcode
0,"1000 4th Ave, Seattle",47.606701,-122.332501,Seattle Public Library-Central Library,True,4.7,98101
1,"Madison St &, 4th Avenue, Seattle",47.605748,-122.333497,Seattle central library,True,4.7,98101
2,"701 5th Avenue, Seattle",47.604713,-122.330489,"Columbia Center Office Building, Food Hall and...",True,4.7,98104
3,"700 4th Avenue, Seattle",47.604590,-122.330430,Sky View Observatory - Columbia Center,True,4.7,98104
4,"1218 3rd Avenue, Seattle",47.607733,-122.335366,Seattle Tower,True,4.7,98101