# Nearest Attraction to Airbnb

#### Import dependencies

In [6]:
import os
import pandas as pd
import requests
from pprint import pprint

from uszipcode import SearchEngine, Zipcode
import numpy as np

# Google developer API key
from config import gkey

## Setup the framework for the API call

#### Retrieve Seattle Coordinates

In [7]:
# store the city that we're searching for in a variable
target_address = "Seattle, Washington"

# create a dictionary to contain the query parameters
params = {"address": target_address, 
          "key": gkey}

# Build URL using the Google Maps Geocode API
geocode_base_url = "https://maps.googleapis.com/maps/api/geocode/json"

# Execute request
response = requests.get(geocode_base_url, params)

# Convert the response to json
my_geo = response.json()

# store lat/long data in variables for use in next query
lat = my_geo["results"][0]["geometry"]["location"]["lat"]
lng = my_geo["results"][0]["geometry"]["location"]["lng"]

print(lat,lng)

47.6062095 -122.3320708

### Retrieve and Assigned Variables to Attractions Varaiables

In [8]:
#establish initial variable for the attractions
target_type = "tourist_attraction"

# create a dictionary to contain all URL parameters
params = {
    "location": f"{lat},{lng}",
    "types": target_type,
    "rankby": "distance",
    "key": gkey
}

# Build URL using the Google Places API
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# Execute request
results = requests.get(base_url, params)

# Convert the result to json
attractions = results.json()

In [9]:
print(results.url)

https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=47.6062095%2C-122.3320708&types=tourist_attraction&rankby=distance&key=AIzaSyCUnNoiTfrbq1WIwdApeofu2yV9KAkDDgo

### Iterate Loop to retrieve information for each of the variables

In [10]:
data = []

# Retrieve Attraction Name, Lat, Lng, Address,Opening Hours and Rating from response
for attraction in attractions['results']:

    #establish initial variable for the attractions
    target_type = "tourist_attraction"

    
    # Store Attraction Name, Lat, Lng, Address,Opening Hours and Rating from response
    name = attraction['name']
    lat = attraction['geometry']['location']['lat'] 
    lng = attraction['geometry']['location']['lng'] 
    address = attraction['vicinity']
    try:
        opening_hours = attraction['opening_hours']['open_now']
        rating = attraction['rating']
    except KeyError:
        pass
    
    #Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        data.append({'name':name,
                     'lat':lat,
                     'lng':lng,
                     'address': address,
                     'opening_hours': opening_hours,
                     'rating':rating})

    except (KeyError, IndexError):
        pass
        print("Missing field/result... skipping.")

#### Display the resulting DataFrame

In [11]:
data_df = pd.DataFrame(data)
data_df.head()

,address,lat,lng,name,opening_hours,rating
0,"1000 4th Ave, Seattle",47.606701,-122.332501,Seattle Public Library-Central Library,True,4.7
1,"Madison St &, 4th Avenue, Seattle",47.605748,-122.333497,Seattle central library,True,4.7
2,"701 5th Avenue, Seattle",47.604713,-122.330489,"Columbia Center Office Building, Food Hall and...",True,4.7
3,"700 4th Avenue, Seattle",47.604590,-122.330430,Sky View Observatory - Columbia Center,True,4.7
4,"1218 3rd Avenue, Seattle",47.607733,-122.335366,Seattle Tower,True,4.7

### Converting lat lng to us zip code using python

In [12]:
Zipcode = []
rows = len(data_df.index)

# Iterate df decode latlng into zipcode 
search = SearchEngine()

for i in range(0, rows):
    result = search.by_coordinates(data_df['lat'][i], data_df['lng'][i], radius=5, returns=1)
    for zipcode in result:
        Zipcode.append(zipcode.zipcode)
    
len(Zipcode)

20

In [37]:
# Add zipcode column to the df
data_df['zipcode'] = Zipcode
data_df.head()

,address,lat,lng,name,opening_hours,rating,zipcode
0,"1000 4th Ave, Seattle",47.606701,-122.332501,Seattle Public Library-Central Library,True,4.7,98101
1,"Madison St &, 4th Avenue, Seattle",47.605748,-122.333497,Seattle central library,True,4.7,98101
2,"701 5th Avenue, Seattle",47.604713,-122.330489,"Columbia Center Office Building, Food Hall and...",True,4.7,98104
3,"700 4th Avenue, Seattle",47.604590,-122.330430,Sky View Observatory - Columbia Center,True,4.7,98104
4,"1218 3rd Avenue, Seattle",47.607733,-122.335366,Seattle Tower,True,4.7,98101

In [38]:
# convert data_df to a .csv file by giving a new name
data_df.to_csv(r'..\Resources\seattle_attractions.csv', index=False)

In [36]:
# Read in a new .csv file into a df
traveler_file = os.path.join("..","Resources","travel_info.csv")
traveler_df = pd.read_csv(travel_file)
traveler_df.head()

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price_x',
       'minimum_nights_x', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'zipcode', 'date', 'available', 'price_y',
       'adjusted_price', 'minimum_nights_y', 'maximum_nights'],
      dtype='object')

In [27]:
# Recorder traveler_df column header
traveler_df.columns
travel_df = traveler_df[["zipcode","id","name","host_id","host_name","neighbourhood_group","neighbourhood","latitude","longitude",
                         "room_type","price_x","minimum_nights_x","number_of_reviews","last_review","reviews_per_month",
                         "calculated_host_listings_count","availability_365","date","available","price_y","adjusted_price",
                         "minimum_nights_y","maximum_nights"
                        ]]

,index,zipcode,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,...,last_review,reviews_per_month,calculated_host_listings_count,availability_365,date,available,price_y,adjusted_price,minimum_nights_y,maximum_nights
0,0,98122,2318,Casa Madrona - Urban Oasis 1 block from the park!,2536,Megan,Central Area,Madrona,47.61082,-122.29082,...,2019-10-31,0.21,2,59,2019-11-21,f,$99.00,$99.00,7.0,1000.0
1,1,98122,2318,Casa Madrona - Urban Oasis 1 block from the park!,2536,Megan,Central Area,Madrona,47.61082,-122.29082,...,2019-10-31,0.21,2,59,2019-11-22,f,$99.00,$99.00,7.0,1000.0
2,2,98122,2318,Casa Madrona - Urban Oasis 1 block from the park!,2536,Megan,Central Area,Madrona,47.61082,-122.29082,...,2019-10-31,0.21,2,59,2019-11-23,f,$99.00,$99.00,7.0,1000.0
3,3,98122,2318,Casa Madrona - Urban Oasis 1 block from the park!,2536,Megan,Central Area,Madrona,47.61082,-122.29082,...,2019-10-31,0.21,2,59,2019-11-24,f,$180.00,$180.00,7.0,1000.0
4,4,98122,2318,Casa Madrona - Urban Oasis 1 block from the park!,2536,Megan,Central Area,Madrona,47.61082,-122.29082,...,2019-10-31,0.21,2,59,2019-11-25,f,$152.00,$152.00,7.0,1000.0
5,5,98122,2318,Casa Madrona - Urban Oasis 1 block from the park!,2536,Megan,Central Area,Madrona,47.61082,-122.29082,...,2019-10-31,0.21,2,59,2019-11-26,f,$180.00,$180.00,7.0,1000.0
6,6,98122,2318,Casa Madrona - Urban Oasis 1 block from the park!,2536,Megan,Central Area,Madrona,47.61082,-122.29082,...,2019-10-31,0.21,2,59,2019-11-27,f,$180.00,$180.00,7.0,1000.0
7,7,98122,2318,Casa Madrona - Urban Oasis 1 block from the park!,2536,Megan,Central Area,Madrona,47.61082,-122.29082,...,2019-10-31,0.21,2,59,2019-11-28,f,$198.00,$198.00,7.0,1000.0
8,8,98122,2318,Casa Madrona - Urban Oasis 1 block from the park!,2536,Megan,Central Area,Madrona,47.61082,-122.29082,...,2019-10-31,0.21,2,59,2019-11-29,f,$180.00,$180.00,7.0,1000.0
9,9,98122,2318,Casa Madrona - Urban Oasis 1 block from the park!,2536,Megan,Central Area,Madrona,47.61082,-122.29082,...,2019-10-31,0.21,2,59,2019-11-30,f,$180.00,$180.00,7.0,1000.0
10,10,98122,2318,Casa Madrona - Urban Oasis 1 block from the park!,2536,Megan,Central Area,Madrona,47.61082,-122.29082,...,2019-10-31,0.21,2,59,2019-12-01,f,$169.00,$169.00,7.0,1000.0
11,11,98122,2318,Casa Madrona - Urban Oasis 1 block from the park!,2536,Megan,Central Area,Madrona,47.61082,-122.29082,...,2019-10-31,0.21,2,59,2019-12-02,t,$169.00,$169.00,7.0,1000.0
12,12,98122,2318,Casa Madrona - Urban Oasis 1 block from the park!,2536,Megan,Central Area,Madrona,47.61082,-122.29082,...,2019-10-31,0.21,2,59,2019-12-03,t,$169.00,$169.00,7.0,1000.0
13,13,98122,2318,Casa Madrona - Urban Oasis 1 block from the park!,2536,Megan,Central Area,Madrona,47.61082,-122.29082,...,2019-10-31,0.21,2,59,2019-12-04,t,$169.00,$169.00,7.0,1000.0
14,14,98122,2318,Casa Madrona - Urban Oasis 1 block from the park!,2536,Megan,Central Area,Madrona,47.61082,-122.29082,...,2019-10-31,0.21,2,59,2019-12-05,t,$169.00,$169.00,7.0,1000.0
15,15,98122,2318,Casa Madrona - Urban Oasis 1 block from the park!,2536,Megan,Central Area,Madrona,47.61082,-122.29082,...,2019-10-31,0.21,2,59,2019-12-06,t,$169.00,$169.00,7.0,1000.0
16,16,98122,2318,Casa Madrona - Urban Oasis 1 block from the park!,2536,Megan,Central Area,Madrona,47.61082,-122.29082,...,2019-10-31,0.21,2,59,2019-12-07,t,$169.00,$169.00,7.0,1000.0
17,17,98122,2318,Casa Madrona - Urban Oasis 1 block from the park!,2536,Megan,Central Area,Madrona,47.61082,-122.29082,...,2019-10-31,0.21,2,59,2019-12-08,f,$169.00,$169.00,7.0,1000.0
18,18,98122,2318,Casa Madrona - Urban Oasis 1 block from the park!,2536,Megan,Central Area,Madrona,47.61082,-122.29082,...,2019-10-31,0.21,2,59,2019-12-09,f,$169.00,$169.00,7.0,1000.0
19,19,98122,2318,Casa Madrona - Urban Oasis 1 block from the park!,2536,Megan,Central Area,Madrona,47.61082,-122.29082,...,2019-10-31,0.21,2,59,2019-12-10,f,$169.00,$169.00,7.0,1000.0
20,20,98122,2318,Casa Madrona - Urban Oasis 1 block from the park!,2536,Megan,Central Area,Madrona,47.61082,-122.29082,...,2019-10-31,0.21,2,59,2019-12-11,f,$169.00,$169.00,7.0,1000.0
21,21,98122,2318,Casa Madrona - Urban Oasis 1 block from the park!,2536,Megan,Central Area,Madrona,47.61082,-122.29082,...,2019-10-31,0.21,2,59,2019-12-12,f,$169.00,$169.00,7.0,1000.0
22,22,98122,2318,Casa Madrona - Urban Oasis 1 block from the park!,2536,Megan,Central Area,Madrona,47.61082,-122.29082,...,2019-10-31,0.21,2,59,2019-12-13,f,$169.00,$169.00,7.0,1000.0
23,23,98122,2318,Casa Madrona - Urban Oasis 1 block from the park!,2536,Megan,Central Area,Madrona,47.61082,-122.29082,...,2019-10-31,0.21,2,59,2019-12-14,f,$169.00,$169.00,7.0,1000.0
24,24,98122,2318,Casa Madrona - Urban Oasis 1 block from the park!,2536,Megan,Central Area,Madrona,47.61082,-122.29082,...,2019-10-31,0.21,2,59,2019-12-15,f,$169.00,$169.00,7.0,1000.0
25,25,98122,2318,Casa Madrona - Urban Oasis 1 block from the park!,2536,Megan,Central Area,Madrona,47.61082,-122.29082,...,2019-10-31,0.21,2,59,2019-12-16,f,$169.00,$169.00,7.0,1000.0
26,26,98122,2318,Casa Madrona - Urban Oasis 1 block from the park!,2536,Megan,Central Area,Madrona,47.61082,-122.29082,...,2019-10-31,0.21,2,59,2019-12-17,f,$169.00,$169.00,7.0,1000.0
27,27,98122,2318,Casa Madrona - Urban Oasis 1 block from the park!,2536,Megan,Central Area,Madrona,47.61082,-122.29082,...,2019-10-31,0.21,2,59,2019-12-18,f,$169.00,$169.00,7.0,1000.0
28,28,98122,2318,Casa Madrona - Urban Oasis 1 block from the park!,2536,Megan,Central Area,Madrona,47.61082,-122.29082,...,2019-10-31,0.21,2,59,2019-12-19,f,$169.00,$169.00,7.0,1000.0
29,29,98122,2318,Casa Madrona - Urban Oasis 1 block from the park!,2536,Megan,Central Area,Madrona,47.61082,-122.29082,...,2019-10-31,0.21,2,59,2019-12-20,f,$169.00,$169.00,7.0,1000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2490095,2490095,98101,40061871,High Rise | Corporate Apt | Urban 1BR | Conven...,50550045,Day 1,Downtown,Central Business District,47.61406,-122.33098,...,NaN,NaN,152,270,NaN,NaN,NaN,NaN,NaN,NaN
2490096,2490096,98178,40063552,Quiet Private Home in Rainier Beach!,36392939,Kathryn,Rainier Valley,Rainier Beach,47.51827,-122.26536,...,NaN,NaN,1,86,NaN,NaN,NaN,NaN,NaN,NaN
2490097,2490097,98144,40065960,"Private Room2, Quiet Neighborhood, 2mi to Down...",43226887,Jennifer,Central Area,Atlantic,47.59416,-122.30100,...,NaN,NaN,2,82,NaN,NaN,NaN,NaN,NaN,NaN
2490098,2490098,98121,40090444,2 Bedroom Fabulous Waterfront Home! This is it!,74305,Seattle Oasis,Downtown,Pike-Market,47.60931,-122.34512,...,NaN,NaN,58,159,NaN,NaN,NaN,NaN,NaN,NaN
2490099,2490099,98144,40091672,"Lovely 3BR Home in Seattle, Parking + Pet-Frie...",48005494,Zeus,Beacon Hill,North Beacon Hill,47.57604,-122.30963,...,NaN,NaN,237,360,NaN,NaN,NaN,NaN,NaN,NaN
2490100,2490100,98108,40094797,Private 1 bedroom near lightrail station,309387078,Hung,Beacon Hill,South Beacon Hill,47.52527,-122.28770,...,NaN,NaN,2,80,NaN,NaN,NaN,NaN,NaN,NaN
2490101,2490101,98144,40096366,"Private Room, Quiet Neighborhood, 2mi to Downtown",43226887,Jennifer,Central Area,Atlantic,47.59413,-122.29990,...,NaN,NaN,2,38,NaN,NaN,NaN,NaN,NaN,NaN
2490102,2490102,98121,40100908,GOLDEN PALACE PENTHOUSE - PIKE MARKET,285520735,Royce Luxstay,Downtown,Belltown,47.61302,-122.34452,...,NaN,NaN,5,329,NaN,NaN,NaN,NaN,NaN,NaN
2490103,2490103,98112,40113933,Private Room F: Amazing CENTRAL Location !,294359599,Andrew,Central Area,Minor,47.61901,-122.30273,...,NaN,NaN,29,9,NaN,NaN,NaN,NaN,NaN,NaN
2490104,2490104,98121,40116093,Large Suite-Minutes to Pike Place Market,226137890,Xenia,Downtown,Belltown,47.61387,-122.35052,...,NaN,NaN,11,169,NaN,NaN,NaN,NaN,NaN,NaN
2490105,2490105,98108,40119152,Beacon hill light filled private 1 bedroom,309387078,Hung,Beacon Hill,South Beacon Hill,47.52550,-122.28768,...,NaN,NaN,2,170,NaN,NaN,NaN,NaN,NaN,NaN
2490106,2490106,98101,40125059,Indulge Seattle in this Fabulous 1BR Apartment,306364580,Joe,Downtown,First Hill,47.60934,-122.32606,...,NaN,NaN,2,358,NaN,NaN,NaN,NaN,NaN,NaN
2490107,2490107,98101,40128301,Panoramic Days in the Heart of Downtown Seattle,235135497,Sean,Downtown,Central Business District,47.60618,-122.33893,...,NaN,NaN,1,143,NaN,NaN,NaN,NaN,NaN,NaN
2490108,2490108,98105,40138051,Cozy Private Studio in U-district!UW精品公寓 C,309771614,Nespace,University District,University District,47.66899,-122.31158,...,NaN,NaN,1,72,NaN,NaN,NaN,NaN,NaN,NaN
2490109,2490109,98105,40138953,Cozy Private Studio in U-District UW精品公寓 B,309783739,Tairong,University District,University District,47.66706,-122.31317,...,NaN,NaN,2,70,NaN,NaN,NaN,NaN,NaN,NaN
2490110,2490110,98105,40140524,Cozy Private Studio in U-District 华大精品公寓 A,309783739,Tairong,University District,University District,47.66742,-122.31259,...,NaN,NaN,2,70,NaN,NaN,NaN,NaN,NaN,NaN
2490111,2490111,98112,40143285,By the Arboretum,42431070,Jan,Capitol Hill,Stevens,47.62903,-122.29869,...,NaN,NaN,1,164,NaN,NaN,NaN,NaN,NaN,NaN
2490112,2490112,98101,40152916,Seattle Stylish and Comfy 1 Bedroom Apartment,306364580,Joe,Downtown,Central Business District,47.60721,-122.33007,...,NaN,NaN,2,358,NaN,NaN,NaN,NaN,NaN,NaN
2490113,2490113,98101,40154155,Relaxing 1 Bedroom Apartment in Seattle,306366443,Joel,Downtown,First Hill,47.60881,-122.32834,...,NaN,NaN,2,339,NaN,NaN,NaN,NaN,NaN,NaN
2490114,2490114,98101,40155644,Seattle Wondrous & Classy 1 Bedroom Apartment,306366443,Joel,Downtown,First Hill,47.60805,-122.32888,...,NaN,NaN,2,357,NaN,NaN,NaN,NaN,NaN,NaN
2490115,2490115,98101,40156785,Enthralling and Comfy 1-BR Apartment in Seattle,306367598,Roderick,Downtown,First Hill,47.60830,-122.32818,...,NaN,NaN,2,364,NaN,NaN,NaN,NaN,NaN,NaN
2490116,2490116,98101,40159265,Seattle Dreamy and Scenic 1 Bedroom Apartment,306367598,Roderick,Downtown,First Hill,47.60912,-122.32898,...,NaN,NaN,2,333,NaN,NaN,NaN,NaN,NaN,NaN
2490117,2490117,98101,40162643,Two Bedroom Downtown Oasis (Parking Included) ...,208530431,Seattle Super Suites,Downtown,First Hill,47.61108,-122.32895,...,NaN,NaN,2,117,NaN,NaN,NaN,NaN,NaN,NaN
2490118,2490118,98121,40174107,Cozy Downtown Quarters w/ City Views,183583319,Alex,Downtown,Belltown,47.61554,-122.34561,...,NaN,NaN,4,38,NaN,NaN,NaN,NaN,NaN,NaN
2490119,2490119,98133,40175430,Clean private Rm in comfortable North Seattle ...,7435040,Chengying,Northgate,Haller Lake,47.72271,-122.33583,...,NaN,NaN,8,234,NaN,NaN,NaN,NaN,NaN,NaN
2490120,2490120,98133,40176359,2 clean private rooms big window in North Seattle,7435040,Chengying,Northgate,Haller Lake,47.72269,-122.33539,...,NaN,NaN,8,234,NaN,NaN,NaN,NaN,NaN,NaN
2490121,2490121,98103,40183149,Laurel's House,21013086,Ron Paul,Other neighborhoods,Fremont,47.65662,-122.34548,...,NaN,NaN,2,176,NaN,NaN,NaN,NaN,NaN,NaN
2490122,2490122,98144,40183377,Entire House *Walker’s Pradise*Good Transit,289666185,Nhat,Rainier Valley,Columbia City,47.56200,-122.29087,...,NaN,NaN,1,356,NaN,NaN,NaN,NaN,NaN,NaN
2490123,2490123,98101,40197071,Steps to Pike Place and Gum Wall,226137890,Xenia,Downtown,Pike-Market,47.60866,-122.33936,...,NaN,NaN,11,25,NaN,NaN,NaN,NaN,NaN,NaN
2490124,2490124,98126,40261634,Seattle home that’s close to everything,310961317,Jeffrey,West Seattle,Fairmount Park,47.54959,-122.37772,...,NaN,NaN,1,173,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
seattle_travel_df = pd.concat([travel_df, data_df], keys='zipcode', axis = 1)
seattle_travel_df.head()

        z                                                                   \
  zipcode    id                                               name host_id
0   98122  2318  Casa Madrona - Urban Oasis 1 block from the park!    2536
1   98122  2318  Casa Madrona - Urban Oasis 1 block from the park!    2536
2   98122  2318  Casa Madrona - Urban Oasis 1 block from the park!    2536
3   98122  2318  Casa Madrona - Urban Oasis 1 block from the park!    2536
4   98122  2318  Casa Madrona - Urban Oasis 1 block from the park!    2536

                                                                    \
  host_name neighbourhood_group neighbourhood  latitude  longitude
0     Megan        Central Area       Madrona  47.61082 -122.29082
1     Megan        Central Area       Madrona  47.61082 -122.29082
2     Megan        Central Area       Madrona  47.61082 -122.29082
3     Megan        Central Area       Madrona  47.61082 -122.29082
4     Megan        Central Area       Madrona  47.61082 -122.29082

                    ...                                                 \
         room_type  ... adjusted_price minimum_nights_y maximum_nights
0  Entire home/apt  ...         $99.00              7.0         1000.0
1  Entire home/apt  ...         $99.00              7.0         1000.0
2  Entire home/apt  ...         $99.00              7.0         1000.0
3  Entire home/apt  ...        $180.00              7.0         1000.0
4  Entire home/apt  ...        $152.00              7.0         1000.0

                                   i                         \
                             address        lat         lng
0              1000 4th Ave, Seattle  47.606701 -122.332501
1  Madison St &, 4th Avenue, Seattle  47.605748 -122.333497
2            701 5th Avenue, Seattle  47.604713 -122.330489
3            700 4th Avenue, Seattle  47.604590 -122.330430
4           1218 3rd Avenue, Seattle  47.607733 -122.335366

                                                                           \
                                                name opening_hours rating
0             Seattle Public Library-Central Library          True    4.7
1                            Seattle central library          True    4.7
2  Columbia Center Office Building, Food Hall and...          True    4.7
3             Sky View Observatory - Columbia Center          True    4.7
4                                      Seattle Tower          True    4.7


  zipcode
0   98101
1   98101
2   98104
3   98104
4   98101

[5 rows x 30 columns]

In [40]:
# convert final dataframe travel_df to a .csv file
seattle_travel_df.to_csv(r'..\Resources\seattle_travel.csv', index=False)