### converting lat lng to us zip code using python

In [7]:
import pandas as pd
import os

from uszipcode import SearchEngine, Zipcode
import numpy as np

In [14]:
# Read in .csv file into a df
file = os.path.join("..","Resources","Detailed_Info_Posting_Add.csv")
info_df = pd.read_csv(file)
info_df.head()
len(info_df.index)

9023

In [15]:
Zipcode = []
rows = len(info_df.index)

# Iterate df decode latlng into zipcode 
search = SearchEngine()

for i in range(0, rows):
    result = search.by_coordinates(info_df['latitude'][i], info_df['longitude'][i], radius=5, returns=1)

    for zipcode in result:
        Zipcode.append(zipcode.zipcode)
    
len(Zipcode)

9023

In [29]:
# Add zipcode column to the df
info_df['zipcode'] = Zipcode
info_df.head()
info_df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'zipcode'],
      dtype='object')

In [27]:
# convert new df to new .csv file
info_df.to_csv(r'..\Resources\lodge.csv', index=False)

### Create a new table by merging 2 tables

In [9]:
# Read in a new .csv file into a df
price_file = os.path.join("..","Resources","Detailed_Price_Listing_Postings.csv")
price_df = pd.read_csv(price_file)
price_df.head()
len(price_df.index)

2487920

In [19]:
price_df_id = price_df.rename(columns={"listing_id":"id"})
price_df_id.head()

,id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,2318,2019-11-21,f,$99.00,$99.00,7.0,1000.0
1,202251,2019-11-21,f,$175.00,$175.00,30.0,150.0
2,202251,2019-11-22,f,$175.00,$175.00,30.0,150.0
3,202251,2019-11-23,f,$175.00,$175.00,30.0,150.0
4,202251,2019-11-24,f,$175.00,$175.00,30.0,150.0

In [28]:
# convert df to a .csv file
price_df_id.to_csv(r'..\Resources\price.csv', index=False)

In [22]:
traveler_df = pd.merge(info_df, price_df_id, on="id", how="outer")
traveler_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price_x,...,reviews_per_month,calculated_host_listings_count,availability_365,zipcode,date,available,price_y,adjusted_price,minimum_nights_y,maximum_nights
0,2318,Casa Madrona - Urban Oasis 1 block from the park!,2536,Megan,Central Area,Madrona,47.61082,-122.29082,Entire home/apt,296,...,0.21,2,59,98122,2019-11-21,f,$99.00,$99.00,7.0,1000.0
1,2318,Casa Madrona - Urban Oasis 1 block from the park!,2536,Megan,Central Area,Madrona,47.61082,-122.29082,Entire home/apt,296,...,0.21,2,59,98122,2019-11-22,f,$99.00,$99.00,7.0,1000.0
2,2318,Casa Madrona - Urban Oasis 1 block from the park!,2536,Megan,Central Area,Madrona,47.61082,-122.29082,Entire home/apt,296,...,0.21,2,59,98122,2019-11-23,f,$99.00,$99.00,7.0,1000.0
3,2318,Casa Madrona - Urban Oasis 1 block from the park!,2536,Megan,Central Area,Madrona,47.61082,-122.29082,Entire home/apt,296,...,0.21,2,59,98122,2019-11-24,f,$180.00,$180.00,7.0,1000.0
4,2318,Casa Madrona - Urban Oasis 1 block from the park!,2536,Megan,Central Area,Madrona,47.61082,-122.29082,Entire home/apt,296,...,0.21,2,59,98122,2019-11-25,f,$152.00,$152.00,7.0,1000.0

In [26]:
# convert info_df to a .csv file by giving a new name
traveler_df.to_csv(r'..\Resources\travel_info.csv', index=False)