### converting lat lng to us zip code using python

In [8]:
import pandas as pd
import os

from uszipcode import SearchEngine, Zipcode
import numpy as np

In [9]:
# Read in .csv file into a df
file = os.path.join("Detailed_Info_Posting_Add.csv")
df = pd.read_csv(file)
df.head()
len(df.index)

9023

In [18]:
Zipcode = []
rows = len(df.index)

# Iterate df decode latlng into zipcode 
search = SearchEngine()

for i in range(0, rows):
    result = search.by_coordinates(df['latitude'][i], df['longitude'][i], radius=5, returns=1)

    for zipcode in result:
        Zipcode.append(zipcode.zipcode)
    
len(Zipcode)

9023

In [19]:
# Add zipcode column to the df
df['zipcode'] = Zipcode
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,zipcode
0,2318,Casa Madrona - Urban Oasis 1 block from the park!,2536,Megan,Central Area,Madrona,47.61082,-122.29082,Entire home/apt,296,7,29,2019-10-31,0.21,2,59,98122
1,5682,"Cozy Studio, min. to downtown -WiFi",8993,Maddy,Delridge,South Delridge,47.52398,-122.35989,Entire home/apt,48,3,462,2018-11-24,3.92,1,0,98146
2,6606,"Fab, private seattle urban cottage!",14942,Joyce,Other neighborhoods,Wallingford,47.65411,-122.33761,Entire home/apt,90,2,150,2019-09-28,1.19,3,49,98102
3,9419,Glorious sun room w/ memory foambed,30559,Angielena,Other neighborhoods,Georgetown,47.55062,-122.32014,Private room,62,2,146,2019-10-22,1.29,8,359,98108
4,9460,Downtown Convention Center B&B -- Free Minibar,30832,Siena,Downtown,First Hill,47.61265,-122.32936,Private room,99,3,455,2019-11-09,3.65,4,138,98101

In [22]:
# covert new df to new .csv file
df.to_csv('lodge_ref.csv', index=False)